PORT=3000
SF_LOGIN_URL=https://login.salesforce.com
SF_CLIENT_ID=your_client_id
SF_CLIENT_SECRET=your_client_secret
SF_USERNAME=your_username
SF_PASSWORD=your_password_and_security_token
SF_ACCESS_TOKEN=
SF_INSTANCE_URL=